.panel, #tab-checkout-confirm {
    margin-top: 15px;
}

#tab-checkout-confirm {
    padding-left: 0;
}

.main_loader {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #38383838;
    z-index: 100;
}

.loader {
    transform: translate(50%, 100%);
}

.loader img {
    transform: translate(-50%, -50%);
}
