.panel, #tab-checkout-confirm {
    margin-top: 15px;
}

#tab-checkout-confirm {
    padding-left: 0;
}

.main_loader {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #38383899;
    z-index: 100;
}

.loader {
    transform: translate(50%, 100%);
}

.loader img {
    transform: translate(-50%, -50%);
}

#top {
    background-color: #383838;
}

#container-menu {
    -webkit-box-shadow: 0 -5px 15px 0px #383838;
    -moz-box-shadow: 0 -5px 15px 0px #383838;
    box-shadow: 0 -5px 15px 0px #383838;
    margin-bottom: 30px;
}

body {
    background-color: #f5ecdd;
}

.navbar {
    margin-bottom: 0;
    padding: 10px 0;
}

.breadcrumb {
    margin: 17px 0 20px 0;
    padding: 8px 0;
    border: none;
    background-color: #00000000;
}

.dropdown-menu li > a:hover, #menu .see-all:hover, #menu .see-all:focus {
    color: #383838 !important;
    background-color: #f5ecdd;
    background-image: linear-gradient(to bottom, #e6ded0, #f5ecdd);
}

.owl-carousel {
  background: #ffffff00;
  background-color: #ffffff00;
}

.product-thumb .button-group button {
  background-color: #00000000;
}

.product-thumb .button-group {
  background-color: #00000000;
}

#top-menu-access li {
  list-style: none;
  display: inline-block;
  padding: 0 10px 0 0;
}

#cart-button {
  padding: 10px 12px;
  background-color: #505050;
  width: 44px;
  height: 43px;
  border-radius: 4px;
  float: right;
}

#cart-button i {
  font-size: 20px;
}


#top, #top i {
  color: #cccccc !important;
}

#cart p {
  color: #383838;
}

@media screen and (min-width: 768px) {
  
  #logo {
      padding: 15px 0;
  }

  #cart {
      margin-top: 30px;
  }
  
}

#cart-total {
  position: absolute;
  right: 50px;
  top: 28%;
}


/** custom button primary */

.btn-primary-nagalli { 
    color: #ffffff; 
    background-color: #383838; 
    border-color: #212121; 
  } 
   
  .btn-primary-nagalli:hover, 
  .btn-primary-nagalli:focus, 
  .btn-primary-nagalli:active, 
  .btn-primary-nagalli.active, 
  .open .dropdown-toggle.btn-primary-nagalli { 
    color: #ffffff; 
    background-color: #595959; 
    border-color: #212121; 
  } 
   
  .btn-primary-nagalli:active, 
  .btn-primary-nagalli.active, 
  .open .dropdown-toggle.btn-primary-nagalli { 
    background-image: none; 
  } 
   
  .btn-primary-nagalli.disabled, 
  .btn-primary-nagalli[disabled], 
  fieldset[disabled] .btn-primary-nagalli, 
  .btn-primary-nagalli.disabled:hover, 
  .btn-primary-nagalli[disabled]:hover, 
  fieldset[disabled] .btn-primary-nagalli:hover, 
  .btn-primary-nagalli.disabled:focus, 
  .btn-primary-nagalli[disabled]:focus, 
  fieldset[disabled] .btn-primary-nagalli:focus, 
  .btn-primary-nagalli.disabled:active, 
  .btn-primary-nagalli[disabled]:active, 
  fieldset[disabled] .btn-primary-nagalli:active, 
  .btn-primary-nagalli.disabled.active, 
  .btn-primary-nagalli[disabled].active, 
  fieldset[disabled] .btn-primary-nagalli.active { 
    background-color: #383838; 
    border-color: #212121; 
  } 
   
  .btn-primary-nagalli .badge { 
    color: #383838; 
    background-color: #ffffff; 
  }


  .btn-danger-nagalli { 
    color: #ffffff; 
    background-color: #DE1B14; 
    border-color: #D4130C; 
  } 
   
  .btn-danger-nagalli:hover, 
  .btn-danger-nagalli:focus, 
  .btn-danger-nagalli:active, 
  .btn-danger-nagalli.active, 
  .open .dropdown-toggle.btn-danger-nagalli { 
    color: #ffffff; 
    background-color: #AB0707; 
    border-color: #D4130C; 
  } 
   
  .btn-danger-nagalli:active, 
  .btn-danger-nagalli.active, 
  .open .dropdown-toggle.btn-danger-nagalli { 
    background-image: none; 
  } 
   
  .btn-danger-nagalli.disabled, 
  .btn-danger-nagalli[disabled], 
  fieldset[disabled] .btn-danger-nagalli, 
  .btn-danger-nagalli.disabled:hover, 
  .btn-danger-nagalli[disabled]:hover, 
  fieldset[disabled] .btn-danger-nagalli:hover, 
  .btn-danger-nagalli.disabled:focus, 
  .btn-danger-nagalli[disabled]:focus, 
  fieldset[disabled] .btn-danger-nagalli:focus, 
  .btn-danger-nagalli.disabled:active, 
  .btn-danger-nagalli[disabled]:active, 
  fieldset[disabled] .btn-danger-nagalli:active, 
  .btn-danger-nagalli.disabled.active, 
  .btn-danger-nagalli[disabled].active, 
  fieldset[disabled] .btn-danger-nagalli.active { 
    background-color: #DE1B14; 
    border-color: #D4130C; 
  } 
   
  .btn-danger-nagalli .badge { 
    color: #DE1B14; 
    background-color: #ffffff; 
  }